/* Стилі для розділів */
section {
    border: 2px solid #27ae60; /* Зелена рамка */
    border-radius: 15px; /* Збільшена овальна форма рамки */
    padding: 25px; /* Збільшений внутрішній відступ */
    margin: 15px; /* Зменшені зовнішні відступи */
    width: calc(25% - 30px); /* Зменшений розмір розділів */
    box-sizing: border-box;
}

/* Стилі для заголовків розділів */
section h2 {
    margin-top: 10px; /* Зменшений верхній відступ у заголовка */
}

/* Стилі для посилань (як кнопок) */
ul li a {
    background-color: #3498db; /* Синій колір фону кнопки */
    border-radius: 20px; /* Збільшена овальна форма кнопки */
}

/* Змінюємо колір фону кнопки при наведенні */
ul li a:hover {
    background-color: #2ecc71; /* Зелений колір фону при наведенні */
}

/* Загальні стилі для всього сайту */
body {
    background-color: #ecf0f1; /* Блідо-сірий фон */
    color: #444;
}

/* Стилі для шапки сайту */
header {
    background-color: #2c3e50; /* Темно-сірий фон шапки */
}

/* Стилі для навігації в шапці */
header nav ul li a {
    color: #ecf0f1; /* Білий колір тексту навігації */
}

/* Стилі для розділів на головній сторінці */
section {
    background-color: #ecf0f1; /* Блідо-сірий фон розділів */
}

section h1 {
    color: #27ae60; /* Зелений колір заголовка h1 */
}

section h2 {
    color: #e74c3c; /* Червоний колір заголовка h2 */
}

/* Стилі для футера */
footer {
    background-color: #2c3e50; /* Темно-сірий фон футера */
}

footer a {
    color: #3498db; /* Синій колір посилань у футері */
}

/* Застосування стилів до посилань на соціальні мережі у футері */
footer a:hover {
    color: #e67e22; /* Оранжевий колір при наведенні */
}
